---
import Search from "../../Index/Search.astro";
import { linksNavbar } from '../Navbar/Navbar-data.astro';
---

<header class="lg:hidden bg-primary py-3">
  <section class="flex justify-between gap-3 items-center">
    <img 
      src="images/LogoValle.png" 
      alt="Logo-Valle"
      title="Logo-Valle"
      class="w-14 h-8"
    />

    <Search />

    <label>
      <input type='checkbox' id='menuMobile' class='hidden peer' />
      <i class='bx bx-menu-alt-right text-4xl text-white peer-checked:scale-0 
      z-50 transition duration-700 delay-150 peer-checked:delay-0'>
      </i>
      <i class='bx bx-x scale-0 text-4xl text-white peer-checked:block z-50 
        peer-checked:scale-100 absolute top-4 right-4 transition duration-700 delay-0 
        peer-checked:delay-150'>
      </i>
      
      <ul class='z-40 translate-x-[-150%] w-full h-full fixed right-0 top-0 transition duration-700 
      pt-20 flex flex-col gap-y-8 bg-gradient-to-r from-primary to-secondary 
      peer-checked:translate-x-0'>
        {linksNavbar.map(item => (
          <div>
            {item.href !== ''
              ? <li class="flex justify-between w-full text-3xl py-2
                 border-b border-white px-8">
                  <a href={item.href} class="w-full text-white flex justify-between items-center">
                    {item.title}
                  </a>
                </li>
              : <li class="flex justify-between w-full text-3xl py-2
                border-white border-b px-8 text-white">
                  {item.title}
                  <span class="text-white" set:html={item.icon}></span>

                  {item.submenu.length > 0 && (
                    <ul id="ulMobile" class="absolute hidden top-10 left-0 bg-primary 
                    shadow-md z-50 text-white">
                      {item.submenu.map((link, index) => (
                        <a href={link.link}>
                          <li class={`px-4 py-2 hover:bg-secondary lg:w-40
                            ${index === item.submenu.length - 1 ? '' : 'border-b border-white/20'}`}>
                            {link.label}
                          </li>
                        </a>
                      ))}
                    </ul>
                  )}
                </li>
            }
          </div>  
        ))}
      </ul>
    </label>
  </section>
</header>