---
import { sections } from './Sections-data.astro';
---

<div class="overflow-hidden">
  <div class="hidden lg:grid grid-cols-4 containerSpace my-12 lg:pl-16">
    {sections.map(section => (
      <a class="group" href={section.link}>
        <article class="relative h-[300px] lg:h-[500px] m-1 transition duration-300 ease-in-out 
          delay-150 transform shadow-2xl rounded-xl lg:-ml-16 lg:hover:-translate-x-16 
          md:hover:-translate-y-8">
          <img 
            src={section.image} 
            alt={section.title}
            title={section.title} 
            class="absolute inset-0 w-full h-full -z-10 opacity-70 lg:group-hover:opacity-100 rounded-xl"
          />

          <h2 class="text-4xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
            font-semibold text-secondary/50 drop-shadow z-30 text-center font-MontserratAlternates
              lg:group-hover:text-secondary/80 lg:group-hover:backdrop-blur-lg">
            {section.title}
          </h2>
        </article>
      </a>
    ))}
  </div>

  <swiper-container class="block mx-auto w-[250px] h-[320px] lg:hidden mySwiper mt-16 mb-4" 
    effect="cards" 
    grab-cursor="true">
    {sections.map(section => (
      <swiper-slide class="relative flex justify-center items-center rounded font-bold text-2xl">
        <a href={section.link}>
          <img 
            src={section.image} 
            alt={section.title}
            title={section.title} 
            class="absolute inset-0 w-full h-full -z-10 rounded-xl"
          />
          <span class="text-secondary/100 backdrop-blur-2xl z-10 font-MontserratAlternates">
            {section.title}
          </span>
        </a>
      </swiper-slide>
    ))}
  </swiper-container>  
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>