---
import NavbarMobile from '../NavbarMobile/NavbarMobile.tsx';
import { linksNavbar } from './Navbar-data.astro';
---

<>
  <div class="shadow-lg">
    <section class="lg:flex gap-x-60 hidden">
    <a href="/">
      <img 
        src="/images/LogoValle.png" 
        alt="Logo-valle" 
        title="Logo-valle"
        class="w-24 h-12"
      />
    </a>

      <nav class="flex gap-x-10 items-end w-full">
          {linksNavbar.map(link => (
          <ul class="text-sm text-secondary font-semibold">
              {link.href !== ''
                ? <a href={link.href}>
                    <li class="flex items-center gap-x-1 py-3
                      border-transparent border-b-[3px] lg:hover:border-b-secondary transition-colors">
                      {link.title}
                    </li>
                  </a>
                : <li class="flex items-center gap-x-1 py-3 group relative
                    border-transparent border-b-[3px] lg:hover:border-b-secondary transition-colors">
                    {link.title}
                    <span set:html={link.icon}></span>
                    
                    {link.submenu.length > 0 && (
                      <ul class="group-hover:block absolute hidden top-10 left-0 bg-primary 
                      shadow-md z-50 text-white mt-2">
                        {link.submenu.map((item, index) => (
                          <a href={item.link}>
                            <li class:list={["px-4 py-2 hover:bg-secondary lg:w-40",
                                {
                                  "border-b border-white/20": index !== link.submenu.length - 1
                                }
                              ]}
                            >
                              {item.label}
                            </li>
                          </a>
                        ))}
                      </ul>
                    )}
                  </li>
              }
            </ul>
          ))}
      </nav>
    </section>
  </div>
  <NavbarMobile client:visible />
</>