---
import Layout from "../../layouts/Layout.astro";
import { localizacion } from '../../components/Sobre-valle/localizacion-data.astro';

const url = Astro.url;
const { pathname } = url;
const pathParts = pathname.split('/').filter(Boolean);
---

<Layout title="Localización">
  <section>
    <p class="text-gray pt-2">
      {pathParts.map((part, index) => (
        <span>
          {part}
          {index < pathParts.length - 1 ? ' > ' : ''}
        </span>
      ))}
    </p>

    <main class="mt-4 grid grid-cols-1 md:grid-cols-3 pb-20 gap-x-20">
      <article class="md:col-span-2">
        <aside class="py-2 px-4 bg-gradient-to-br from-primary to-secondary uppercase
        text-white text-xl md:text-2xl rounded-xl font-MontserratAlternates mb-4 relative w-fit">
            Localización
          <div class="absolute inset-0 border-4 border-primary rounded-xl"></div>
        </aside>

        <p class="mb-4">El municipio de Valle de Santiago se localiza al sur del Estado de Guanajuato. Con una superficie de 820.1 km2, comprende el 2.7% del territorio estatal.</p>
        <p class="mb-4">Pertenece a la Región IV Sur y Subregión 9 dentro de la integración regional establecida en el Reglamento de la Ley de Planeación para el Estado de Guanajuato.</p>
        <p class="mb-4">Colinda al norte con Salamanca; al este con Jaral del Progreso; al sur con Yuriria y Puruándiro, municipio del Estado de Michoacán de Ocampo; y al oeste con Pueblo Nuevo, Abasolo, Huanímaro y José Sixto Verduzco, Mich.</p>
        <p class="mb-4">La cabecera municipal, del mismo nombre, se ubica en las coordenadas 101º 11’ 29” de longitud oeste y 20º 23’ 34” de latitud norte (-101.1914 y 20.3928 en grados decimales respectivamente) y a una altura de 1,744 m sobre el nivel del mar. La superficie de la mancha urbana, considerando la suma del área correspondiente de sus 34 AGEBs (INEGI, 2009), es de 1,234 Has.</p>
        <p class="mb-4">El municipio tiene un total de 240 localidades, de las cuales 193 cuentan con viviendas ocupadas (INEGI, Censo de Población y Vivienda 2010), de las cuales solo dos son consideradas urbanas, la cabecera municipal Valle de Santiago con 68,058 habitantes y la localidad de Rincón de Parangueo con 2,553 habitantes, siendo la PRIMERA VEZ en toda la historia del municipio, en donde la población que vive en localidades urbanas es superior a aquella que habita en localidades rurales.</p>
        <p class="mb-4">El municipio presenta una densidad de población de 172 habitantes por kilómetro cuadrado, siendo ésta de 55 habitantes por hectárea en la cabecera municipal.</p>
        <h5 class="mb-4 text-lg font-semibold">NOTAS:</h5>
        <p class="mb-4">Esta superficie es de acuerdo con el Marco Geoestadístico Municipal 2010 del INEGI. Sin embargo, es anecdótico reseñar las diferentes superficies atribuidas al municipio: Fulgencio Vargas en “Camémbaro, monografía del municipio de Valle de Santiago, Gto.” de 1935 le atribuye 698.89 km2; Higinio Vázquez Vera en “Monografía de Valle de Santiago” de 1973 señala 819.94 km2; un escritor reciente, Óscar Cortés (“Monografía de Valle de Santiago”, 2002), asienta una superficie de 835.74 km2. El Sistema Nacional de Información Municipal (SNIM), 835.70 km2; el INAFED, dependiente de la Secretaría de Gobernación federal, en su sitio <a href="www.e-local.gob.mx" target="_blank" class="text-gray underline">e-local/</a> señala 815.52 km2; La Coordinación de Protección Civil de la Secretaría de Seguridad Pública del Estado apunta 842.21 km2 como superficie del municipio y el Plan Municipal de Desarrollo de Valle de Santiago de 2004 anota 764.73 km2.</p>
        <p class="mb-4">INEGI. Prontuario de información geográfica municipal de los Estados Unidos Mexicanos. Valle de Santiago, Guanajuato, clave geoestadística 11042. México, 2009.</p>
        <p class="mb-4">Fuente: INEGI, Marco Geoestadístico Nacional, Catálogo de claves de entidades federativas, municipios y localidades, consultado el 5 de marzo de 2013 en <a href="http://www.inegi.org.mx/geo/contenidos/geoestadistica/catalogoclaves.aspx" class="text-gray underline" target="_blank">INEGI</a> Las coordenadas y la altura sobre el nivel del mar son referidas al centroide de la mancha urbana, un punto que se ubica aproximadamente al centro de la manzana delimitada por las calles Álvaro Obregón al norte, Vicente Guerrero al sur, Petróleos al oriente y José Ma. Magaña al poniente.</p>
      </article>

      <aside class="md:col-span-1 flex flex-col gap-y-8">
        {localizacion.map(({title, image}) => (
          <img 
            loading="lazy" 
            decoding="async"
            src={`/images/sobre-valle/localizacion/${image}`} 
            alt={title}
            title={title}
            class="w-full h-44 rounded object-contain cursor-pointer"
            id={image}
          />
        ))}
      </aside>
    </main>
  </section>

</Layout>

